*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #9cabb5, #959396);
    min-height: 100vh;
    
}    
.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    text-decoration: underline #5f5a61;
}
.container .details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 0 12px 0;
}
.container .input{
    width: calc(100% / 2 - 20px);
}
.details .input input{
    width: 100%;
    height: 45px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
}
.container .input .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.container .details .button_input{
    height: 45px;
    margin: 45px 0;
    width: 100%;
}
.container .button_input input{
    display: block;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    background: linear-gradient(135deg, #cccccc, #959396);
}
.button_input input:hover{
    background: linear-gradient(135deg, #5b5f61, #4a484b);
}
.button_input:active{
    box-shadow: 10px 9px 1px 2px rgb(92, 92, 92);
    border-radius: 5px;
}